table th {
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #454d55;
    text-align: center;
    background-color: #00244a;
}

.table {
    width: 100%;
}

.div1{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

th{
    color: #ffc95d;
}

tr{
    color: #ffffff;
}